- directories = info[:directories]
- files = info[:files]
%ul
  %li 
    %a{ :href => "#" } Add all
  - directories.each do |subdir|
    %li.ui-finder-folder{:rel => subdir}
      %a{ :href => "/tree_tabs_dir/#{subdir}"}= File.basename(subdir)
   
  - files.each do |file|
    %li.ui-finder-file
      %a{:href => "/song_info_tab/#{file}", :title => file}= File.basename(file)
      %img.add_song{ :src => "/images/add.png", :align => "right" }
