- directories = info[:directories]
- files = info[:files]
%li{ :class => (name.nil? ? 'open' : 'closed') }
  - if name.nil?
    %span.folder= File.basename("Top")
  - else
    %span.folder= File.basename(name)
    %a.dir2playlist{:href => '#'} add
  %ul
    - directories.each do |subdir|
      %li.lazyload.expandable{:rel => subdir}
        %span.folder= File.basename(subdir)
        %ul
     
    - files.each do |file|
      %li
        %span.file.song{:id => file}
          = File.basename(file)
        %a{:href => '/song/' + file} play
