:javascript
  function init(){
    $('li.song').click(function(){
      $.ajax({
        url: '/playlist_song/' + $(this).html(),
        success: function(html){
          $('ul#songs').append(html)
        }
       })
    })  
  }

  $(init)


#mp3s
  %ul
    - @mp3s.each do |f|
      %li.song= f

#playlist
  %ul#songs
    = playlist_song("pepe")


