#main
  :javascript 
    eval('servers = #{$servers.to_json};')

  #mp3s
    #tabed
      %ol#tags{:rel => $server}
        %li.ui-finder-folder
          %a Music
          =tree_song_tabs_dir($mp3dir)

    #treeview

  #playlist
    %a#create_playlist{:href => '#'} playlist
    %a#clear_playlist{:href => '#'} clear
    = haml :_controls, :layout => false
    %table#songs.tablesorter
      %thead
        %tr
          %th File
          %th Title
          %th Artist
          %th Album
          %th Track
      %tbody


