#main
  :javascript 
    eval('servers = #{$servers.to_json};')

  %ol#tags
    %li.ui-finder-folder
      %a Music
      =tree_song_tabs_dir('/Users/jfontan/Music')

  #mp3s

  #playlist
    %a#create_playlist{:href => '#'} playlist
    %a#clear_playlist{:href => '#'} clear
    %table#songs.tablesorter
      %thead
        %tr
          %th File
          %th Title
          %th Artist
          %th Album
          %th Track
      %tbody


