#main
  :javascript 
    eval('servers = #{$servers.to_json};')

  #mp3s

  #playlist
    %a#create_playlist{:href => '#'} playlist
    %table#songs.tablesorter
      %thead
        %tr
          %th File
          %th Title
          %th Artist
          %th Album
          %th Track
      %tbody


