!!! XML
!!!
%html
  %head
    %title Toca
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.js"}

    -# SoundManager
    -# %script{ :type => "text/javascript", :src => "/plugins/soundmanager2/javascripts/soundmanager2.js"}
    %script{ :type => "text/javascript", :src => "/plugins/soundmanager2/javascripts/soundmanager2-nodebug-jsmin.js"}
    %script{ :type => "text/javascript", :src => "/javascripts/play.js"}
  
    -# TreeView
    %script{ :type => "text/javascript", :src => "/plugins/treeview/javascripts/jquery.treeview.js"}
    %link{:rel => 'stylesheet', :href => '/plugins/treeview/stylesheets/jquery.treeview.css'}

    -# TableSorter
    %script{ :type => "text/javascript", :src => "/plugins/tablesorter/javascripts/jquery.tablesorter.js"}
    %link{:rel => 'stylesheet', :href => '/plugins/tablesorter/stylesheets/jquery.tablesorter.css'}
      
    -# Other
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.tablednd.js"}
    %script{ :type => "text/javascript", :src => "/javascripts/dataUrl.js"}

    -# Finder
    %script{ :type => "text/javascript", :src => "/plugins/finder/javascripts/jquery.scrollTo-1.4.0-min.js"}
    %script{ :type => "text/javascript", :src => "/plugins/finder/javascripts/ui.finder.js"}
    %link{:rel => 'stylesheet', :href => '/plugins/finder/stylesheets/default.css'}
    %link{:rel => 'stylesheet', :href => '/plugins/finder/stylesheets/ui.finder.css'}
    %link{:rel => 'stylesheet', :href => '/plugins/finder/stylesheets/ui.theme.css'}
    
    %script{ :type => "text/javascript", :src => "/javascripts/html.js"}
    %script{ :type => "text/javascript", :src => "/javascripts/list.js"}
    -# General
    %script{ :type => "text/javascript", :src => "/javascripts/toca.js"}
    %link{:rel => 'stylesheet', :href => '/toca.css'}

  %body
    = yield

