@import blueprint/modules/grid.sass

!div_size = "800px"

!total_width = 30
!finder_width   = 10
!player_witdh = !total_width - !finder_width - 1

body
  :font 0.9em sans-serif
  :height = !div_size
  +container()
  +span(!total_width)

  #finders
    +column(!finder_width - 1)
    +colborder()
    :height = !div_size
    :overflow auto
    ul
      :list-style none
      :padding-left 1em

      li.directory > span
        :font-size 1.2em

    ul.finder > span
      :font-size 1.2em
        


  #player
    +column(!player_witdh,"last")
    :height = !div_size
    :overflow auto
    table
      +span(!player_witdh - 1)
      th
        &.file
          +span(8)
        &.title, &.artist, &.album
          +span(5)
        &.track
          +span(2)
      tr.current
        td
          :background-color green

    ul#controls
      :list-style-type none
      li
        :border 1px solid
        :margin 1px 
        :padding 1px 
        :display inline

a
  :margin 2px
